<?xml version="1.0"?>
<settings>
  <activeProfiles>
    <activeProfile>Nuxeo</activeProfile>
  </activeProfiles>
  
  <profiles>
    <profile>
      <id>Nuxeo</id>
      <repositories>
        <repository>
          <id>maven-public</id>
          <url>https://packages.nuxeo.com/repository/maven-public</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <updatePolicy>always</updatePolicy>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>private-snapshot</id>
          <url>https://packages.nuxeo.com/repository/daily-snapshots</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <updatePolicy>always</updatePolicy>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>hotfix-releases</id>
          <url>https://packages.nuxeo.com/repository/maven-hotfix</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>hotfix-snapshots</id>
          <url>https://packages.nuxeo.com/repository/hotfix-snapshots</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <updatePolicy>always</updatePolicy>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
  
  <servers>
    <server>
      <id>central</id>
      <configuration>
        <httpConfiguration>
          <all>
            <connectionTimeout>120000</connectionTimeout>
            <readTimeout>120000</readTimeout>
          </all>
        </httpConfiguration>
      </configuration>
    </server>
  </servers>
</settings>